body{
    background-color:#404040;
}
h1,h2,h3,h4,h5,h6{
    color: whitesmoke;
}

p{
    size: 69px;
    color: whitesmoke;
}
a{
    color:whitesmoke;
}
p.outset{border-style: outset;}

.imgrez{
    max-width: 100%;    
}
.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 10px;
    background-color: #202020;
    padding: 10px;
}
.grid-container > div {
    grid-template-columns: auto;
    background-color: rgba(60, 60, 60, 1);
    text-align: center;
    padding: 4px 0;
    font-size: 30px;
}
.butt1{
    background-color: #47474700;
    border-radius: 4px;
    width: 200px;
    height: 100px;
    font-size: 30px;
    color: whitesmoke;
    transition-duration: 1s;
}

.butt1:hover {
    background-color: whitesmoke;
    color: black;
}
